!*.py
/RadioMorphing/OutputDirectory/*
/DesiredPositions/*
/DesiredPositions/*
/result_scaling/*
/Miscellaneous
/Miscellaneous/*
/RMFilterTests/Plots
/RMFilterTests/Plots/*
/RMFilterTests/Traces/
/RMBackups
RadioMorphing_user_version/Simulations/
RMarticle
RMTest/RMTestPerformances/Data/RMresultsManuscript/*
